*{
    margin: 0px;
    padding: 0px; 
 }
 
 div#generalInicial{
     margin:5px ;
     height: 80px;
     background-color: rgb(250, 250, 250);
     display: grid;
     grid-template-columns: auto auto auto;
      padding: 10px;
 }
 
 
 .imagenLogo2{
 
     width: auto;
     height: 85px;
 }
 div#presentacion{
   padding: 20px;
   font-size: 30px;
   text-align: center;
 }
 .labelImagen{
     font-weight:bold;
     font-size: 21px;
 }
 .contenidogestionAsignatura{
     margin-top: 100px;
     font-weight:bold;
     font-size: 30px;
     
 }
 .contenidoDescargarAsignatura{
     
     
     border: 3px solid ;
     border-radius: 10px 10px;
     width: 230px;
     height: 30px;
     text-align: center;
     background-color: rgb(130, 128, 128);
     border-color: rgb(130, 128, 128);
     color: black;
     font-size: 18px;                            /*Tamaño del texto del boton*/
     font-weight:bold;
     float:right;  
 }
 .imagenDescargas{
     margin-left: 5px;
     width: 30px;
     height: 30px;
     float: right;
 }
 div#contenidoIngreso{
     height: 700px;
     background-color:rgb(250, 250, 250);
     border: 4px solid;
     border-color: rgb(179, 176, 176);
 }
 
 div#menuContenido{
     float: left;
     width: 20%;
     height: 700px;
     background-color: rgb(179, 176, 176);
     border-radius: 0px 0px 50px 0px;
 }
 div#menuIngresoDatos{
     float: right;
     width: 79.9%;
     height: 700px;
     background-color: rgb(179, 176, 176);
     border-radius: 0px 0px 0px 50px;
 }
 
 div#encabezadoContenidoIngreso{
     height: 100px;
     background-color: rgb(250, 250, 250);
 }
 div#encabezado1ContenidoIngreso{
     float: left;
     width: 30%;
     height: 100%;
 }
 div#encabezado2ContenidoIngreso{
     float: right;
     width: 70%;
     height: 100%;
 }
 .imagenUsuarioMenu{
     width: 100px;
 }
 
 .labelUsuarioPerfil{
     font-weight:bold;
     font-size: 20px;
     margin-left: 10px;
 }
 .outputUsuario{
     font-weight: bold;
     font-size: 20px;
 }
 .nombreMenu{
         text-decoration: none;
         font-weight: bold;
         color: black;
         font-size: 24px;
         margin-left: 20px;
 }

 .labelBuscarFiltrar{
    font-weight:bold;
     font-size: 25px;
     margin-left: 10px;
 }

 .labelListaCalificaciones{
    font-weight:bold;
     font-size: 23px;
     margin-left: 10px;
 }

 .divContenidoNombres{
     height: 400px;
     margin-left: 0px;
     margin-top: 60px;
     text-align: center;
 }
 div#divIncialSeccionDatos{
 
     height: 50px;
     background-color: rgb(250, 250, 250);
 }
 div#div1InicialSeccionDatos{
     float: left;
     width: 60%;
     height: 100%;
 }
 div#div2InicialSeccionDatos{

     float: left;
     width: 40%;
     height: 90%;
 }
 .h3Asignaturas{
     margin-top: 20px;
     margin-left: 20px;
 }
 .lupaBuscarRegistro{
     margin-top: 10px;
     width: 25px;
 }
 .inputCampoBuscar{
     width: 265px;
     height: 25px;
     margin-bottom: 10px;
 }
 
 .divAdicionarAsignatura{
     height: 50px;
     background-color: rgb(250, 250, 250);
 }
 
 .imgAdicionarAsignatura{
     width: 50px;
     margin-left: 25px;
 }
 
 .div1AdicionarAsignatura{
 
     float: left;
     width: 5%;
     height: 100%;
 }
 .div2AdicionarAsignatura{
 
     float: right;
     width: 93%;
     height: 100%;
 }
 
 .h4AdicionarAsignatura{
     margin-top: 12px;
     font-size: 20px;
 }
 .camposAdicionarAsignaturas{
     height: 80px;
 }
 
 .campoCodigoNombreAdicionar{
     float: left;
     width: 40%;
     height: 100%;
 }
 .campoSemestreAdicionar{
     float: left;
     width: 60%;
     height: 100%;
 }
 .labelSemestreTitulo{
     font-weight: bold;
     
     margin-left: 10px;
 }
 .campoCodigoAdicionar{
     float: left;
     width: 50%;
     height: 100%;
 }
 .campoNombreAdicionar{
     float: left;
     width: 50%;
     height: 100%;
 }
 .labelCodigoTitulo{
     font-weight: bold;
     
     margin-left: 10px;
 }
 .labelNombreTitulo{
     font-weight: bold;
     
     margin-left: 10px;
 }
 .inputCodigo{
     border: 2px transparent;
     height:  25px;
     margin-left: 10px;
     border-radius: 8px;
 }
 .inputNombre{
     border: 2px transparent;
     height:  25px;
     margin-left: 10px;
     border-radius: 8px;
 }
 .inputSemestre{
     border: 2px transparent;
     height:  25px;
     margin-left: 10px;
     border-radius: 8px;
 }
 
 .divInfoCompletaAsignaturas{
     height: 430px;
     background-color: rgb(179, 176, 176);
 }
 
 .divIngresarInfoAsignaturas{
     float: left;
     width: 65%;
     height: 100%;
     
 }
 .divEditarEliminarAsignaturas{
     float: left;
     width: 35%;
     height: 100%;
     background-color: rgb(35, 38, 38);
 }
 .h3AsignaturasAdicionar{
     margin-top: 10px;
     margin-left: 10px;
 }
 th{
     font-size: 20px;
     
 }
 table{
     width: 1200px;
     border: 2px solid;
     background-color: rgb(179, 176, 176);
 }
 td{
     text-align:  center;
 
 }
 .botonEliminar{
     width: 40px;
     
 }
 .editarEliminar{
     border: 0px;
 }
 .botonEditar{
     width: 60px;
 }
 
 .divGuardarCancelar{
     height: 100px;
 }

 .buttonEditar{
    margin-top: 13px;
    margin-left: 440px;
    border-radius: 10px 10px 10px 10px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
}
 .buttonGuardar{
     margin-top: 20px;
     margin-left: 20px;
     border-radius: 10px 10px 10px 10px;
     width: 100px;
     height: 40px;
     font-weight: bold;
     font-size: 15px;
 }
 .buttonCancelar{
     margin-top: 20px;
     margin-left: 20px;
     border-radius: 10px 10px 10px 10px;
     width: 100px;
     height: 40px;
     font-weight: bold;
     font-size: 15px;
 }
 